.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    color: rgb(155, 126, 68);
    text-decoration: none;
    text-align: center;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;

}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.confirm{
    border-collapse: collapse;
}

tr{
    color: rgb(195, 184, 162);
}

.confirm td{
    border: 1px solid #999;
    padding: 5px;
    background-color: #a49980;
    color: rgb(228, 223, 213);
}

.form__input--text input {
    height: 20px;
    width: 300px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 0px;
    background: #837964;
    color: #fff;
    cursor: pointer;
}